<section class="container w-50 about-section">
  <div class="row about-content shadow-lg p-3 mb-5 bg-white rounded">
    <h3>About</h3>
    <p>
      Building a comprehensive authentication and authorization system from
      scratch is complex. Auth0 is an Identity-as-a-Service (IDaaS) platform
      that lets you centralize user authentication and API authorization for all
      your applications to reduce that complexity. Auth0 offers powerful
      security features out-of-the-box. A customizable login page, social login,
      Multi-Factor Authentication (MFA), and advanced user management allow you
      to go live in record time. Perhaps the most important feature is anomaly
      detection, which helps you combat credential stuff attacks. At Auth0,
      credential stuffing attacks account for, on average, nearly half of all
      login attempts using our platform.
    </p>
    <p>
      Read more details about this critical attack vector: Credential Stuffing
      Attacks: What Are They and How to Combat Them. Configure an Auth0
      Application 🛠 If you haven't already, sign up for a free Auth0 account,
      which offers you: 7,000 free active users and unlimited logins. A
      centralized, ready-to-ship login page for Web, iOS & Android. Up to 2
      social identity providers like Google and Facebook login. Unlimited
      serverless Rules to customize and extend Auth0's capabilities.
    </p>
  </div>
</section>
