<header class="common-header">
    <nav>
        <h1>NG - AUTHENTICATOR</h1>
        <div class="nav-links">
            <ul>
                <li>
                    <a routerLink="/home" routerLinkActive="active" >Home</a>
                </li>
                <li>
                    <a routerLink="/about" routerLinkActive="active">About</a>
                </li>
                <li>
                    <a routerLink="/login" routerLinkActive="active">SignIn</a>
                </li>
            </ul>
        </div>
    </nav>
</header>